

<article>
  <header>
    <h2>
      Add a new recipe
    </h2>
    <p>Have AI generate a recipe for you or <a href="/recipes">create a recipe yourself.</a></p>
  </header>

  <form action="/user_prompt" method="post">
    <div>
      <label for="prompt_box">
        Prompt
      </label>

      <input type="text" id="prompt_box" name="query_prompt" value="Generate a recipe for...">
    </div>

        <button type="submit">
      Submit
    </button>
  </form>
</article>
