<%if current_user == nil%>
<article>
  <h1>Hi! Welcome to Cook Book!</h1>
  <div>
    <p><a href="/users/sign_up">Create an Account</a> or <a href="/users/sign_in">Login</a> to get started creating and saving your own recipes.</p>
    <p>Alternatively, you can view all user submitted recipes <a href="/recipes">here</a></p>
  </div>
  </article>
<%else%>

<article>
  <header>
    <h2>
      Add a new recipe using AI
    </h2>
  </header>

  <form action="/user_prompt" method="post">
    <div>
      <label for="prompt_box">
        Prompt
      </label>

      <input type="text" id="prompt_box" name="query_prompt" value="Generate a recipe for...">
    </div>

        <button type="submit">
      Submit
    </button>
  </form>
</article>

<article>
  <header>
    <h2>
      Drop a link to a recipe
    </h2>
  </header>

  <form action="/user_link" method="post">
    <div>
      <label for="prompt_box">
        Prompt
      </label>

      <input type="text" id="prompt_box" name="query_link" >
    </div>

        <button type="submit">
      Submit
    </button>
  </form>
</article>

<article>
  <header>
    <h2>
      Manually Add A New Recipe
    </h2>
  </header>

    <form action="/insert_recipe" method="post">
    <div>
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title">
      
    </div>

    <div>
      <label for="recipe_description_box">Description</label>
     <textarea
      id="recipe_description_box"
      name="query_description"
      rows="3"></textarea>
    </div>

    <div>
     <label for="recipe_ingredients_box">Ingredients</label>
      <textarea
       id="recipe_ingredients_box"
       name="query_ingredients"
       rows="5">
      </textarea>
    </div>

   <div>
     <label for="recipe_instructions_box">Instructions</label>
     <textarea
      id="recipe_instructions_box"
      name="query_instructions"
      rows="5"></textarea>
   </div>

    <div>
      <label for="servings_box">
        Servings
      </label>

      <input type="text" id="servings_box" name="query_servings">
    </div>

    <button type="submit">
      Create recipe
    </button>
  </form>
</article>
<%end%>
