<h1>
  List of all recipes
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new recipe
    </h2>
  </header>

  <form action="/insert_recipe" method="post">
    <div>
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <input type="text" id="description_box" name="query_description">
    </div>

    <div>
      <label for="ingredients_box">
        Ingredients
      </label>

      <input type="text" id="ingredients_box" name="query_ingredients">
    </div>

    <div>
      <label for="instructions_box">
        Instructions
      </label>

      <input type="text" id="instructions_box" name="query_instructions">
    </div>

    <div>
      <label for="servings_box">
        Servings
      </label>

      <input type="text" id="servings_box" name="query_servings">
    </div>



    <div>
      <label for="source_url_box">
        Source url
      </label>

      <input type="text" id="source_url_box" name="query_source_url">
    </div>

    <button type="submit">
      Create recipe
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_recipes.each do |a_recipe| %>
      <li>
        <a href="/recipes/<%= a_recipe.id %>">
          <%= a_recipe.title %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
