<h1>
  List of all recipes
</h1>

<hr>

<article>
  <ul>
    <% @list_of_recipes.each do |a_recipe| %>
      <li>
        <a href="/recipes/<%= a_recipe.id %>">
          <%= a_recipe.title %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>


