<article class="recipes-list-page">
  <h1 class="recipes-title">All Recipes</h1>

  <div class="recipes-list-group">
    <% @list_of_recipes.each do |recipe| %>
      <a href="/recipes/<%= recipe.id %>" class="recipes-list-item">
        <span class="recipes-list-title"><%= recipe.title %></span>
        <span class="recipes-list-arrow">→</span>
      </a>
    <% end %>
  </div>
</article>
